.contenedor{
 
 width: 100vw;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 
}
.sosten-sema{
  background-color: black;
  width: 20px;
  height: 150px;
}
.cuerpo-sema{
  background-color: black;
  width: 120px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;

}
.circle{
  border-radius: 100%;
  background: rgb(145, 47, 47);
  width: 85px;
  height: 85px;
  cursor: pointer;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.yellow {
  background-color: rgb(255, 157, 0);
}

.selected {
  box-shadow: #f8ffcc 0px 0px 50px 20px;
}